<%# Using Layouts %>
<%- include('partials/header'); -%>

<h4>
  <center> <%= startingContent %> </center>
</h4>

<% tasks.forEach(function(task){ %>
<form action="/delete1" method="post">

  <h3> <%= task.name %> </h3>
  <p> <%= task.description.substring(0, 100) + "..." %> <a href="/tasks/<%=task._id%>">Read More</a> </p>
  <h4>Created By - <%= task.creating%> </h4>
  <p>Created At : <%= task.timerat %> </p>

  <div >
    <input type="checkbox" name="checkbox" value="<%=task._id%>"  onChange="this.form.submit()">
    Click to delete
  </div>

</form>
<% }) %>

<%- include('partials/footer'); -%>
